{% extends "::base.html.twig" %}

{% block body %}

    <div class="container-fluid" style="margin-top: 150px;">

        <div class="col-lg-4 col-md-3 col-sm-2"></div>

        <div class="col-lg-4 col-md-3 col-sm-2">

            Admin

        </div>


        <div class="col-lg-4 col-md-3 col-sm-2"></div>

    </div>

{% endblock %}